/*Content First - Mobile First*/
    /*General Rules*/
    *{
        box-sizing: border-box;
        font-family: 'segoe ui', 'calibri', sans-serif;
    }
    body,
    h1,
    h2,
    h3,
    #header p{
        margin: 0;
    }
/*´Navigation*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #8cd linear-gradient(#ccc, #eac, #ace);
}

nav{
    display: block;
    padding: .5rem;
    color: #333;
    text-decoration: none;
}

.menu{
    width: 100%;
    padding: 0;
    list-style: none;
}

.menu a:hover{
    background-color: rgba(102, 102, 102, .5);
}



/*Medium Devices - Tablets*/

/*Large Devices - Desktop*/

/*Extra Large Devices - HD Desktop*/